body {
  color: #40514E;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  margin: 30px auto 0 auto;
  font-size: 90px;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 20px;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover {
  color: #EAF6F6
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}
hr {
  border: dotted #a2b29f 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}
.mountain {
  background-color: #c8eed9;
}
.top {
  background-color: #c8eed9;
  position: relative;
  padding-top: 100px;
  margin-bottom: 5px;

}
.middle-container {
  margin-bottom: 80px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.top-cloud {
  position: absolute;
  right: 330px;
  top: 30px;
}

.middle-cloud {
  position: absolute;
  right: 200px;
  bottom: 350px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 450px;

}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.ai-img {
  width: 25%;
  float: left;
  margin-right: 30px;

}

.working-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.pro {
  text-decoration: underline;
}

.profile {
  margin-top: 60px;
}

.intro {
  width: 50%;
  margin: auto;
  line-height: 2;
}

.contact-info {
  width: 50%;
  line-height: 2;
  margin: 40px auto 80px;
}

.copyrights {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;

}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
